
<section class="banners">
  <!-- <h2 class="#">Хиты продаж</h2> -->
  <div class="container banners__container">
      

      <div class="card-related__slider">
        <p class="product-prop product__prop best">Хиты продаж</p>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <article class="product">
                    <div class="product__image">
                      <a href="../card.html">
                      <img src="img/c01.jpg" alt="img/prod11.png">
                      </a>
                    </div>

                    <p class="light-grey product__title">

                        Биметаллический радиатор Style Extra 500

                    </p>
                     <a class="rate">
                <div id="rateYo" data-rateyo-rating="4"></div>
              </a>
              <p class="product__articule">Артикул: 342555</p>
              <p class="product__brand">Производитель: Casar</p>
                <div class="product__wrap">
                <p class=" product__price">$120.0</p>
                <p class=" product__oldprice">$220.0</p>
                </div>
                <div class="product__content-box">
                  <button
                    class="btn-reset card-info__btn card-info__btn--towishlist"
                  >
                    Add to wishlist
                  </button>
                  <button class="btn-reset card-info__btn card-info__btn--tocart">
                    Add to cart
                  </button>
                </div>

              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <a href="../card.html">
                  <img src="img/r02.jpg" alt="img/kpr06.jpg">
                  </a>
                </div>

                <h3 class="light-grey product__title">

                    Котел отопительный КАРБО-18

                </h3>
                 <a class="rate">
                <div id="rateYo" data-rateyo-rating="4"></div>
              </a>
              <p class="product__articule">Артикул: 342555</p>
              <p class="product__brand">Производитель: Casar</p>
                <div class="product__wrap">
            <p class=" product__price">$120.0</p>
            <p class=" product__oldprice">$220.0</p>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <a href="../card.html">
                  <img src="img/prod02.jpg" alt="prod02">
                  </a>
                </div>

                <h3 class="light-grey product__title">

                    Base Ventil

                </h3>
                 <a class="rate">
                <div id="rateYo" data-rateyo-rating="4"></div>
              </a>
              <p class="product__articule">Артикул: 342555</p>
              <p class="product__brand">Производитель: Casar</p>
                <div class="product__wrap">
            <p class=" product__price">$120.0</p>
            <p class=" product__oldprice">$220.0</p>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <span class="product__sale">Sale</span>
                  <a href="../card.html">
                  <img src="img/prod03.jpg" alt="prod 1">
                  </a>
                </div>

                <h3 class="light-grey product__title">

                    Насос дренажный Unilift KP 250-A1 012H1800

                </h3>
                 <a class="rate">
                <div id="rateYo" data-rateyo-rating="4"></div>
              </a>
              <p class="product__articule">Артикул: 342555</p>
              <p class="product__brand">Производитель: Casar</p>
                <div class="product__wrap">
            <p class=" product__price">$120.0</p>
            <p class=" product__oldprice">$220.0</p>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <a href="../card.html">
                  <img src="img/prod04.jpg" alt="prod 1">
                  </a>
                </div>

                <h3 class="light-grey product__title">

                    Котел отопительный ОК-15

                </h3>
                 <a class="rate">
                <div id="rateYo" data-rateyo-rating="4"></div>
              </a>
              <p class="product__articule">Артикул: 342555</p>
              <p class="product__brand">Производитель: Casar</p>
                
               <div class="product__wrap">
            <p class=" product__price">$120.0</p>
            <p class="line-through product__oldprice">$220.0</p>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
              </article>
            </div>
          </div>
          <div class="swiper-pagination related-pag"></div>
      </div>
      </div>

</section>
