
<div class="card-top">
  <!-- <div class=" container-narrow"> -->
  <div class="container">
    <div class="categories__inner">
    <div class="card-top__left">
      <div class="card-slider">
        <div class="card-slider__thumbs">
          <div class="card-slider__thumb">
            <img src="../img/c01.jpg" alt="../img/prod01.jpg" />
          </div>
          <div class="card-slider__thumb">
            <img src="../img/c02.jpg" alt="../img/prod01.jpg" />
          </div>
          <div class="card-slider__thumb">
            <img src="../img/c03.jpg" alt="../img/prod01.jpg" />
          </div>

          <div class="card-slider__thumb">
            <img src="../img/c04.jpg" alt="../img/prod01.jpg" />
          </div>

          <div class="card-slider__thumb">
            <img src="../img/c01.jpg" alt="../img/prod01.jpg" />
          </div>
        </div>
        <div class="card-slider__main">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
               <img src="../img/c01.jpg" alt="../img/c01.jpg" />

            </div>
          </div>
        </div>
      </div>
        <!-- <div class="fotorama bg-grey" data-nav="thumbs">
              <img src="../img/bag01.png" alt="../img/bag01.png" />
              <img src="../img/bag02.png" alt="../img/bag02.png" />
              <img src="../img/bag03.png" alt="../img/bag03.png" />
              <img src="../img/bag05.png" alt="../img/bag05.png" />
              <img src="../img/bag08.png" alt="../img/bag08.png" />


            </div> -->
    </div>
    <div class="card-top__right">
      <div class="card-info">
        <!-- <span class="card-info__prop">Best seller</span> -->
        <h3 class="card-info__title">Насос дренажный Unilift KP 250-A1 012H1800</h3>

        <!-- <div class="card-info__rate">
          <img src="../img/stars.png" alt="" />
          <span>2 reviews</span>
        </div>
        <div class="card-info__price info-price">
          <div class="card-info__current">$128.00</div>
          <div class="card-info__old">$165.00</div>
        </div> -->
          <a class="rate">
                <div id="rateYo" data-rateyo-rating="4"></div>
              </a>
              <p class="product__articule">Артикул: 342555</p>
              <p class="product__brand">Производитель: Casar</p>
              <div class="product__wrap">
              <p class="product__price">$220.0</p>
              <p class=" product__oldprice">$220.0</p>
              </div>

      

        <div class="promo">
          <h4 class="promo__maroon">Sale end in</h4>
           <div id="promo__clock" class="promo__clock">
                <div class="promo__clock-item">
                  <span class="days"></span>
                  <div class="smalltext">Days</div>
                </div>
                <div class="promo__clock-item">
                  <span class="hours"></span>
                  <div class="smalltext">Hours</div>
                </div>
                <div class="promo__clock-item">
                  <span class="minutes"></span>
                  <div class="smalltext">Minutes</div>
                </div>
                <div class="promo__clock-item">
                  <span class="seconds"></span>
                  <div class="smalltext">Seconds</div>
                </div>
              </div>
        </div>
        <div class="card-info__stepper stepper">
          <button
            class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled"
            aria-label="minus"
          >
          <img src="../img/minus.png" alt="">
            <!-- <svg class="">
              <use xlink:href="img/sprite.svg#minus"></use>
            </svg> -->
          </button>
          <input type="text" class="stepper__input" value="1" maxlength="4" />
          <button
            class="btn-reset stepper__btn stepper__btn--plus"
            aria-label="plus"
          >
          <img src="../img/plus.png" alt="">
            <!-- <svg class="">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg> -->
          </button>
        </div>
        <button class="btn-reset card-info__btn38 card-info__btn--tocart">Add to cart</button>
        <!-- <button class="btn-reset card-info__btn38 card-info__btn--towishlist">Add to wishlist</button> -->
        <!-- <div class="card-info__bottom card-bottom">
          <div class="card-bottom__item"><span>SCU:</span>FW511</div>
          <div class="card-bottom__item"><span>Category:</span>
          <a href="">Trousers,</a>
          <a href="">Life style</a>
        </div> -->
          <!-- <div class="card-bottom__item"><span>Tags:</span>
          <a href="">Designer,</a>
          <a href="">Woman</a>
          </div> -->
        </div>
      </div>
    </div>
    </div>

    <!-- <div class="card-top__line"></div> -->

    

  
</div>

 
