<div class="catalog-filters">

  <button class="hide-filters btn-reset">
    Filters
  </button>
  <!-- catalog-filter--open -->
  <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Котлы</h3>
      
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">
      <a class="catalog-filter__link">Электрические котлы</a>
      <a class="catalog-filter__link">Газовые котлы</a>
      
    </div>
  </div>
  <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Водонагреватели</h3>
      
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">
      <a class="catalog-filter__link">Электрические водонагреватели</a>
      <a class="catalog-filter__link">Газовые водонагреватели</a>
      <a class="catalog-filter__link">Газовые колонки</a>  
    </div>
  </div>
  <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Радиаторы</h3>
      
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">

      <a class="catalog-filter__link">Алюминиевые радиаторы</a>
      <a class="catalog-filter__link">Биметаллические радиаторы</a>
      <a class="catalog-filter__link">Конвекторы</a>
    </div>
  </div>
  <div class="catalog-filter">

    <div class="catalog-filter__top">

      <div class="catalog-filter__caption">

      <h3 class="catalog-filter__title">Насосы</h3>
       
     


      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">

        <a class="catalog-filter__link">Дренажные насосы</a>
      <a class="catalog-filter__link">Погружные насосы</a>
      <a class="catalog-filter__link">Циркуляционные насосы</a>
    </div>
  </div>
   <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Котельное оборудование</h3>
      
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">

      <a class="catalog-filter__link">Коллекторы</a><br>
      <a class="catalog-filter__link">Теплообменники</a>
    </div>
  </div>
   <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Трубы и фитинги</h3>
      
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">

      <a class="catalog-filter__link">Трубы и фитинги полипропиленовые</a>
      <a class="catalog-filter__link">Фитинги резьбовые</a>
    </div>
  </div>
   <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Полотенцесушители</h3>
      
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">
      <a class="catalog-filter__link">Водяные полотенцесушители</a>
      <a class="catalog-filter__link">Электрические полотенцесушители</a>
  
    </div>
  </div>
   <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Теплый пол</h3>
      
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">
   
      <a class="catalog-filter__link">Нагревательные маты</a>
      <a class="catalog-filter__link">Инфракрасные обогреватели</a>
    </div>
  </div>

</div>

