
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="header__top-b">
            <button class="menu__btn">
              <div>
                <div class="menu__btn-line"></div>
                <div class="menu__btn-line"></div>
                <div class="menu__btn-line"></div>
              </div>
            </button>
            <div class="cart-icon-black">
              <a class="user-list__link cart">
                <img src="../img/cart.svg" alt="" />
                <p class="cart__num">2</p>
              </a>
            </div>
          </div>
          <div class="header__top-inner">
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__item">
                  <a class="menu__link" href="tel:+79998525821">8(999)8525821</a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="tel:+79998525821">8(800)9525581</a>
                </li>
              </ul>
            </nav>
            <a href="../index.html">
              <h1 class="logo">Plumber-500</h1>
              <span class="logo-text">Магазин отопительного оборудования</span>
            </a>
     
            <form class="filter-search__form" type="text">
              <input
                class="filter-search__input"
                type="text"
                placeholder="Search..."
              />
              <button class="filter-search__btn" type="submit">
                <img src="../img/search.png" alt="search.png" />
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- adaptive -->
      <ul class="menu-mobile__list">
      
        <li class="menu-mobile__item">
          
          <a class="menu-mobile__link" href="#"><p>Котлы</p></a>
                <ul class="subcatalog">
                  <li><a href="">Электрокотлы</a></li>
                  <li><a href="">Газовые котлы</a></li>
                </ul>
        </li>
        <li class="menu-mobile__item">
          <a class="menu-mobile__link" href="#"><p>Водонагреватели</p></a>
        </li>
        <li class="menu-mobile__item">
          <a class="menu-mobile__link" href="#"><p>Радиаторы</p></a>
        </li>
        <li class="menu-mobile__item">
          <a class="menu-mobile__link" href="#"><p>Насосы</p></a>
        </li>
        <li class="menu-mobile__item">
          <a class="menu-mobile__link" href="#"
            ><p>Котельное оборудование</p></a
          >
        </li>
        <li class="menu-mobile__item">
          <a class="menu-mobile__link" href="#"><p>Трубы и фитинги</p></a>
        </li>
        <li class="menu-mobile__item">
          <a class="menu-mobile__link" href="#"><p>Полотенцесушители</p></a>
        </li>
        <li class="menu-mobile__item">
          <a class="menu-mobile__link" href="#"><p>Теплый пол</p></a>
        </li>
      </ul>
   
      <div class="header__bottom">
        <div class="container">
          <div class="header__bottom-inner">
            <ul class="menu-categories">
              <li class="menu-categories__item ">
                <a class="menu-categories__link" href="#">Главная</a>
              </li>
            
               <li class="menu-categories__item">
                <a class="menu-categories__link" href="#">Аккаунт</a>
              </li>
              <li class="menu-categories__item">
                <a class="menu-categories__link" href="#">Монтаж</a>
                <ul class="subcatalog">
                  <li><a href="">Виртуальная реальность</a></li>
                  <li><a href="">Моноподы для селфи</a></li>
                </ul>
              </li>
              <li class="menu-categories__item">
                <a class="menu-categories__link" href="#">Магазины</a>
              </li>
             
              <li class="menu-categories__item">
                <a class="menu-categories__link" href="#">Доставка</a>
              </li>
              <li class="menu-categories__item">
                <a class="menu-categories__link" href="#">Акции</a>
              </li>

              <li class="menu-categories__item big">
                <a class="menu-categories__link" href="../contacts.html">Контакты</a>
              </li>
            </ul>
            <div class="cart-prev">
              <div class="cart-price">
                0
                <span class="cart-pr">p</span>
              </div>

              <div class="cart-icon">
                <a class="user-list__link cart">
                  <img src="img/cart.svg" alt="" />
                  <p class="cart__num">2</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

   <script>
    $(function () {
  $('.menu__btn').on('click', function name() {
    $('.menu-mobile__list').toggleClass('menu-mobile__list--active');


  });
});
   </script>