<section class="hero">
  <div class="container hero-catalog__container ">
    
    <div class="hero-catalog__slider">
    
    
      <div class=" swiper-wrapper">
        <div class=" swiper-slide">
          <div class=" catalog-slide">


            <img class=" catalog-slide__image"  src="../img/t01.jpg" alt="../img/t01.jpg">
          </div>
        </div>
         <div class=" swiper-slide">
          <div class="hero catalog-slide">

            
            <img class=" catalog-slide__image"  src="../img/t02.jpg" alt="sport.png">
          </div>
        </div>
         <div class="swiper-slide">
          <div class="hero catalog-slide">
       

            <img class=" catalog-slide__image"  src="../img/t03.jpg" alt="man600.png">
          </div>
        </div>
      </div>
      <div class="swiper-pagination hero-pag"></div>
      <!-- <div class="swiper-pagination related-pag"></div> -->
     
    </div>



  </div>
</section>
<section class="categories page-section">
      <div class="container">
        <div class="categories__inner">
          <a class="categories__item" href="../catalog.html">
            <div class="categories__item-info">
              <h4 class="categories__item-title">Котлы</h4>
            </div>
          </a>
          <a class="categories__item" href="../catalog.html">
            <div class="categories__item-info">
              <h4 class="categories__item-title">Водонагреватели</h4>
            </div>
          </a>
          <a class="categories__item" href="../catalog.html">
            <div class="categories__item-info">
              <h4 class="categories__item-title">Радиаторы</h4>
            </div>
          </a>
          <a class="categories__item" href="../catalog.html">
            <div class="categories__item-info">
              <h4 class="categories__item-title">Насосы</h4>
            </div>
          </a>
          <a class="categories__item" href="../catalog.html">
            <div class="categories__item-info">
              <h4 class="categories__item-title">Котельное оборудование</h4>
            </div>
          </a>
          <a class="categories__item" href="../catalog.html">
            <div class="categories__item-info">
              <h4 class="categories__item-title">Трубы и фитинги</h4>
            </div>
          </a>
          <a class="categories__item" href="../catalog.html">
            <div class="categories__item-info">
              <h4 class="categories__item-title">Полотенцесушители</h4>
            </div>
          </a>
          <a class="categories__item" href="../catalog.html">
            <div class="categories__item-info">
              <h4 class="categories__item-title">Теплый пол</h4>
            </div>
          </a>
        </div>
      </div>
    </section>