<!-- 

<div class="hero-catalog">
  <div class="container  hero-catalog__container">
    <div class="hero-catalog__slider">
      <button class="hero-prev-btn btn-reset">
        <svg class="">
          <use xlink:href="img/sprite.svg#prev-arrow"></use>
        </svg>
      </button>
      <button class="hero-next-btn btn-reset">
        <svg class="">
          <use xlink:href="img/sprite.svg#next-arrow"></use>
        </svg>
      </button>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="catalog-slide">
            <h2 class="catalog-slide__title">The best thing about going back to school?</h2>
            <p class="catalog-slide__descr">This fall denim is king! Denim is officially back</br> in and cool to wear in all
              its many forms</p>
            <div class="catalog-slide__btns">
              <a href="#" class="catalog-slide__link catalog-slide__link--dark">Discovery</a>
              <a href="#" class="catalog-slide__link catalog-slide__link--light">Shop now</a>
            </div>
            <img class="catalog-slide__image"  src="../img/girl02.png" alt="girl02.png">
          </div>
        </div>
         <div class="swiper-slide">
          <div class="catalog-slide">
            <h2 class="catalog-slide__title">The best thing about going back to school?</h2>
            <p class="catalog-slide__descr">This fall denim is king! Denim is officially back in and cool</br> to wear in all
              its many forms</p>
            <div class="catalog-slide__btns">
              <a href="#" class="catalog-slide__link catalog-slide__link--dark">Discovery</a>
              <a href="#" class="catalog-slide__link catalog-slide__link--light">Shop now</a>
            </div>
            <img class="catalog-slide__image"  src="../img/girl08.png" alt="girl08.png">
          </div>
        </div>
         <div class="swiper-slide">
          <div class="catalog-slide">
            <h2 class="catalog-slide__title">The best thing about going back to school?</h2>
            <p class="catalog-slide__descr">This fall denim is king! Denim is officially back in and cool</br> to wear in all
              its many forms</p>
            <div class="catalog-slide__btns">
              <a href="#" class="catalog-slide__link catalog-slide__link--dark">Discovery</a>
              <a href="#" class="catalog-slide__link catalog-slide__link--light">Shop now</a>
            </div>
            <img class="catalog-slide__image"  src="../img/card-main-not-fone.png" alt="card-main-not-fone.png">
          </div>
        </div>
      </div>
      <div class="swiper-pagination hero-pag"></div>
      <div class="swiper-pagination related-pag"></div>
    </div>
  </div>
</div>
-->
<section class="search page-section">
      <div class="container">
        <div class="search__inner">
          <div class="search__tabs tabs-wrapper">
            <div class="mobile__overflow">
              <a
                class="search__tabs-item search__tabs-item--active"
                href="#tab-1"
                >Поиск по номеру</a
              >
              <a class="search__tabs-item" href="#tab-2">Поиск по марке</a>
              <a class="search__tabs-item" href="#tab-3">Поиск по названию</a>
            </div>
            <div class="search__content">
              <div
                id="tab-1"
                class="search__content-item search__content-item--active"
                href="#"
              >
                <form action="" class="search__content-form">
                  <input
                    type="text"
                    class="search__content-input"
                    placeholder="Введите номер "
                  />
                  <button class="search__content-btn" type="submit">
                    искать
                  </button>
                </form>
              </div>
              <div id="tab-2" class="search__content-item">
                <form action="" class="search__content-form">
                  <input
                    type="text"
                    class="search__content-input"
                    placeholder="Введите марку "
                  />
                  <button class="search__content-btn" type="submit">
                    искать
                  </button>
                </form>
              </div>
              <div id="tab-3" class="search__content-item" href="#">
                <form action="" class="search__content-form">
                  <input
                    type="text"
                    class="search__content-input"
                    placeholder="Введите название товара "
                  />
                  <button class="search__content-btn" type="submit">
                    искать
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<script>
    $('.search__tabs-item').on('click', function(e){

        e.preventDefault();
        $('.search__tabs-item').removeClass('search__tabs-item--active');
        $('.search__content-item').removeClass('search__content-item--active');
        $(this).addClass('search__tabs-item--active');
        $($(this).attr('href')).addClass('search__content-item--active');

  });
</script>    